<div class="page-header">
  <h1>Aihealueet</h1>
</div>

<div ng-repeat="topic in topics" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#/topics/{{ topic.id}}">{{ topic.name }}</a>
    </h3>
  </div>
  <div class="panel-body">
    {{ topic.description }}
  </div>
</div>

<h2 ng-if="userLoggedIn">Lisää oma aihealueesi</h2>

<form ng-if="userLoggedIn">
  <div class="form-group">
    <label>Nimi</label>
    <input type="text" class="form-control" ng-model="newTopic.name">
  </div>

  <div class="form-group">
    <label>Kuvaus</label>
    <textarea class="form-control" ng-model="newTopic.description"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addTopic()">Lisää viesti</button>
</form>
