<div class="page-header">
  <h1>{{ topic.name }}</h1>
</div>

<p>
  {{ topic.description }}
</p>

<h2>{{ messages_count }} Viestiä</h2>

<ul class="media-list">
  <li class="media" ng-repeat="message in messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{message.title}}</a>
      </h4>

      <p>
        {{message.content}}
      </p>

      <p class="text-muted">
        {{message.User.username}}, {{message.createdAt | date:'medium'}}
      </p>
    </div>
  </li>
</ul>

<h2 ng-if="userLoggedIn">Lisää oma viestisi</h2>

<form ng-if="userLoggedIn">
  <div class="form-group">
    <label>Otsikko</label>
    <input type="text" class="form-control" ng-model="newMessage.title">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea class="form-control" ng-model="newMessage.content"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addMessage()">Lisää viesti</button>
</form>
