<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2>{{replies_count}} Vastaus</h3>

<ul class="media-list">
  <li class="media" ng-repeat="reply in replies">
    <div class="media-body">
      <h4 class="media-heading">{{reply.User.username}}</h4>

      <p>
        {{reply.content}}
      </p>

      <p class="text-muted">
        {{reply.createdAt | date:'medium'}}
      </p>
    </div>
  </li>
</ul>

<h2 ng-if="userLoggedIn">Lisää oma vastauksesi</h2>

<form ng-if="userLoggedIn">
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply.content"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
</form>
