<div class="page-header">
  <h1>Kirjaudu sisään</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="User.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="text" class="form-control" ng-model="User.password">
  </div>

  <button class="btn btn-primary" ng-click="logIn()">Kirjaudu sisään</button>
  <p>{{ errorMessage }}</p>
</form>
