<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="User.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="text" class="form-control" ng-model="User.password">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="text" class="form-control" ng-model="User.password_confirmation">
  </div>

  <button class="btn btn-success" ng-click="register()">Rekisteröidy</button>
  <p>{{ errorMessage }}</p>
</form>
